<!DOCTYPE html>
<html lang="en">
<head>
    <style>
<!--    body-->
<!--    {-->
<!--    background-image:url('destinations.jpg');-->
<!--    }-->
 body{background-color:aqua; padding: 100px;}
 h4{background-color:lightblue;height:50px;}
 div{padding:50px;background-color:pink;margin:25px}
 .font{padding:10px;}
 .font1{padding:10px;}
 .font2{padding:10px;}

    </style>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h4>LOGIN</h4>
<form action="login" method="post">
    {% csrf_token%}
    <div
        <div class="font">
    <input type="text" name="username" placeholder="UserName"><br></div>
    <div class="font1">
    <input type="password" name="password" placeholder="Enter your Password"><br></div>
     <div class="font2">
    <input type="submit"></div>

    <div>

</body>
</html>